# Jupyter Notebook
.ipynb_checkpoints/

# Splinter
geckodriver.log

# Virtual environment
venv/
env/

# Scraped data or output files
data/
output/

# Jupyter temporary files
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
*.ipynb.meta

# Jupyter widgets metadata
.ipynb_widgets/

# Cache and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log

# Configuration files
*.ini
*.cfg


# This gitignore file was created using https://www.gitignore.io/api/jupyter-notebook,python